body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background: rgb(0, 252, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 252, 255, 1) 0%,
    rgba(30, 109, 185, 1) 100%
  );
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.searchInput {
  padding: 10px;
  outline: none;
  min-width: 400px;
  caret-color: rgb(255, 255, 255);
  border: 3px double #000;
  background: none;
}

.searchInput::placeholder {
  color: rgb(255, 255, 255);
}

button {
  padding: 10px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6895ff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #004766; 
  border-radius: 10px;
  /* height:"200px" */

}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */